
$color-white : #fff;
$color-purple : #374046;
body {
	background-color: $color-white;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($hshad,$vshad,$blur,$spread) {
	-webkit-box-shadow: $hshad $vshad $blur $spread;
	   -moz-box-shadow: $hshad $vshad $blur $spread;
	    -ms-box-shadow: $hshad $vshad $blur $spread;
	        box-shadow: $hshad $vshad $blur $spread;
}

/**navbar custom style */
.dp-nav {
	background-color: #6699ff;
	color: $color-white;
	a {
		color: #fff;
		&:hover {
			color: #fff;
			background-color: #92b6ff !important;
		}
		&:active {
			color: #fff;
			background-color: #92b6ff !important;
		}
		&:focus {
			outline: none;
			color: #fff;
			background-color: #92b6ff !important;
		}
	}
	li.active {
		color: #fff;
		background-color: #92b6ff !important;
	}
	.navbar-toggle {
			.icon-bar {
			background-color: #fff;
		}
	}
	
}

.dp-jumbotron {
	h1 {
		font-size: 35px;
	}
	p {
		font-size: 18px;
	}
	a {
		color: #11117d;
	}
	.jumbotron {
		background-color: #5a91ff;
		@include border-radius(5px);
		color: #fff;
		@include box-shadow(50px,50px,50px,10px); 
	}
}

.vertical-align {
	display: flex;
	align-items: center;
}
.wrappingdiv {
	height: 80vh;
}